.search {
    position: absolute;
    top: 40px;
    left: 33.33%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 579px;
    padding: absolute;
    background-color: white;
    position: absolute;
    left: 0;
    top: 325px;
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 380px;
    border: none;
}

.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    top: 455px;
    left: 0;
    text-transform: inherit!important;
    background-color: #ff7779;
    color: white;
    width: 579px;
}

.search > button:hover {
    background-color: white;
    color:  #ff7779;
    text-transform: inherit!important;
}